@if(pageService.currentPage === 0){
    <section>
    <div class="socials">
        <a class="github" href="https://github.com/hl4ntn" target="_blank"> </a>
        <a class="linkedin" href="https://www.linkedin.com/in/hannah-luisa-a-16baa8201/" target="_blank"></a>
        <a href="mailto:hannah.anton@gmx.de" class="mail"></a>
        
    </div>
    <div style="pointer-events: none;" class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p class="white">H.L.A.</p>
    </div>
    <div class="menu-options">
        <button class="btn_white">EN</button>
        <div class="burger_menu_white"></div>
    </div>
</section>
            } @else if(pageService.currentPage % 2 === 0 || pageService.currentPage > 4){
                <section>
    <a style="text-decoration: none;" [href]="'#0'"><div class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p class="white">H.L.A.</p>
    </div></a>
    <div class="menu-options">
        <button class="btn_white">EN</button>
        <div class="burger_menu_white"></div>
    </div>
</section>
            } @else {


               <section><a style="text-decoration: none;" [href]="'#0'"><div  class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p class="black">H.L.A.</p>
    </div></a>
    <div class="menu-options">
        <button class="btn_black">EN</button>
        <div class="burger_menu_black"></div>
    </div></section>
            }
    
    

