section{
    display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.socials{
    display: flex;
    gap: 8px;
    height: 32px;
    >.github{
        background-image: url(./../../assets/imgs/icons/github.png);
        width: 32px;
        height: 32px;
    }
    .github:hover{
        background-image: url(./../../assets/imgs/icons/github_orange.png);
        cursor: pointer;
    }
    >.linkedin{
        background-image: url(./../../assets/imgs/icons/linkedin.png);
        width: 32px;
        height: 32px;
    }
    .linkedin:hover{
        background-image: url(./../../assets/imgs/icons/linkedin_orange.png);
        cursor: pointer;
    }
    >.mail{
        background-image: url(./../../assets/imgs/icons/mail.png);
        width: 32px;
        height: 32px;
    }
    .mail:hover{
        background-image: url(./../../assets/imgs/icons/mail_orange.png);
        cursor: pointer;
    }
}

.name_header{
    display: flex;
    gap: 12px;
    align-items: center;
    >img{
       width: 29.07px;
        height: 40px; 
    }
    >p{
        font-size: 36px;
        margin: 0;
        font-weight: 600;
    }
    &:hover{
        cursor: pointer;
    }
}

.name_header:hover .black{
    cursor: pointer;
    color: #FF834F;
}

.name_header:hover .white{
    cursor: pointer;
    color: #FF834F;
}

.white{
    color: #F8F7E5;
}

.black{
    color: #1D1D1D;
}

.menu-options{
    display: flex;
    gap: 16px;
    align-items: center;
    .burger_menu_black{
        width: 32px;
        height: 32px; 
        background-image: url(./../../assets/imgs/icons/menu_black.png);
    }
    .burger_menu_black:hover{
        cursor: pointer; 
        background-image: url(./../../assets/imgs/icons/menu_orange.png);
    }
    .burger_menu_white{
        width: 32px;
        height: 32px; 
        background-image: url(./../../assets/imgs/icons/menu_white.png);
    }
    .burger_menu_white:hover{
        cursor: pointer; 
        background-image: url(./../../assets/imgs/icons/menu_orange.png);
    }
    
}

.hover-div{
  background-color: #F8F7E5;
  position: absolute;
  width: 176px;
  top: 10px;
  right: 64px;
  border-radius: 4px;
  border: 1px solid #1D1D1D;
  padding: 16px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 16px;
      z-index: 99;
        transition: transform 0.35s ease-in-out;
          transform: translateX(130%);
>div{
    display: flex;
    justify-content: space-between;
    >.close_button{
        background-image: url(../../assets/imgs/icons/close_button.png);
            width: 32px;
        height: 32px;
        &:hover{
            background-image: url(../../assets/imgs/icons/close_button_hover.png);
            cursor: pointer;
        }
    }
}
}

.hover-div.open {
  transform: translateX(5%);
}
  

h4{
    line-height: 120%;
    color: #679AAC;
    font-size: 24px;
    margin: 0;
}

.skills{
    display: flex;
    gap: 8px;
    flex-direction: column;
    >a{
    margin: 0;
    text-decoration: none;
      color: #1D1D1D;
  } 
}

button{
    
    background-color: transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 10px;
    
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #FF834F;
    cursor: pointer;
}

.btn_black{
    border: 1px solid #1D1D1D;
    color: #1D1D1D;
}

.btn_white{
    border: 1px solid #F8F7E5;
    color: #F8F7E5;
}