@if(pageService.currentPage === 0){
    <section>
    <div class="socials">
        <div class="github"></div>
        <div class="linkedin"></div>
        <div class="mail"></div>
        
    </div>
    <div style="pointer-events: none;" class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p class="white">H.L.A.</p>
    </div>
    <div class="menu-options">
        <button class="btn_white">EN</button>
        <div class="burger_menu_white"></div>
    </div>
</section>
            } @else if(pageService.currentPage % 2 === 0 || pageService.currentPage > 4){
                <section>
    <div (click)="pageService.goToPage(0)" class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p class="white">H.L.A.</p>
    </div>
    <div class="menu-options">
        <button class="btn_white">EN</button>
        <div class="burger_menu_white"></div>
    </div>
</section>
            } @else {


               <section><div  (click)="pageService.goToPage(0)" class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p class="black">H.L.A.</p>
    </div>
    <div class="menu-options">
        <button class="btn_black">EN</button>
        <div class="burger_menu_black"></div>
    </div></section>
            }
    
    

