section{
        display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
}

.socials{
    display: flex;
    gap: 8px;
    height: 32px;
    >.github{
        background-image: url(./../../assets/imgs/icons/github.png);
        width: 32px;
        height: 32px;
    }
    .github:hover{
        background-image: url(./../../assets/imgs/icons/github_orange.png);
        cursor: pointer;
    }
    >.linkedin{
        background-image: url(./../../assets/imgs/icons/linkedin.png);
        width: 32px;
        height: 32px;
    }
    .linkedin:hover{
        background-image: url(./../../assets/imgs/icons/linkedin_orange.png);
        cursor: pointer;
    }
    >.mail{
        background-image: url(./../../assets/imgs/icons/mail.png);
        width: 32px;
        height: 32px;
    }
    .mail:hover{
        background-image: url(./../../assets/imgs/icons/mail_orange.png);
        cursor: pointer;
    }
}

.name_header{
    display: flex;
    gap: 12px;
    align-items: center;
    >img{
       width: 29.07px;
        height: 40px; 
    }
    >p{
        font-size: 36px;
        margin: 0;
        font-weight: 600;
    }
    &:hover{
        cursor: pointer;
    }
}

.name_header:hover .black{
    cursor: pointer;
    color: #FF834F;
}

.name_header:hover .white{
    cursor: pointer;
    color: #FF834F;
}

.white{
    color: #F8F7E5;
}

.black{
    color: #1D1D1D;
}

.menu-options{
    display: flex;
    gap: 16px;
    align-items: center;
    .burger_menu_black{
        width: 32px;
        height: 32px; 
        background-image: url(./../../assets/imgs/icons/menu_black.png);
    }
    .burger_menu_black:hover{
        cursor: pointer; 
        background-image: url(./../../assets/imgs/icons/menu_orange.png);
    }
    .burger_menu_white{
        width: 32px;
        height: 32px; 
        background-image: url(./../../assets/imgs/icons/menu_white.png);
    }
    .burger_menu_white:hover{
        cursor: pointer; 
        background-image: url(./../../assets/imgs/icons/menu_orange.png);
    }
    
}

button{
    
    background-color: transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 10px;
    
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #FF834F;
    cursor: pointer;
}

.btn_black{
    border: 1px solid #1D1D1D;
    color: #1D1D1D;
}

.btn_white{
    border: 1px solid #F8F7E5;
    color: #F8F7E5;
}