<section class="page page-enter" #page>

<div class="content box animate" #box>
    <app-navbar1></app-navbar1>
    <div class="main">
        <div class="left_part">
            <img src="../../assets/imgs/photo2.png" alt="photo">
        </div>
        <div class="right_part">
            <h3>About me</h3>
            <app-dots></app-dots>
        </div>
        
        
        <div class="text_box">
            <p>Hey there, I'm Hanna. Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?  Do you learn from each challenge as you search for the most efficient or elegant solution?
            <br> <br> 
            Let's connect and create something amazing together!</p>
            <div>
                <button>Let's Talk</button>
                <img src="../../assets/imgs/icons/emoji1.png" alt="emoji">
            </div>
        </div>

</div>
</div>

</section>