*{
    box-sizing: border-box;
}

.page {
  min-height: 100vh;
  will-change: transform, opacity;
}

/* Start: Seite liegt unten */
.page-enter {
  transform: translateY(100vh);
  opacity: 0;
}

/* Ziel: Seite ist da */
.page-enter.is-visible {
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s ease;
}

.box{
    opacity: 0;
  transform: translateY(40px);
//   transition: opacity 2.6s ease, transform 2.6s ease;
}

.box.animate {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.box.animate.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.content{
    width: 100%;
    height: 100vh;
    background-color: #F8F7E5;
    display: flex;
    flex-direction: column;
    animation-name: myAnimation;
  animation-duration: 5s;
   animation-fill-mode: forwards;
  animation-timing-function: ease-in;
    // overflow: hidden;
}

@keyframes myAnimation {
  from {left: 0px;}
  to {left: 300px;}
}

.main{
    display: flex;
    padding: 0 72px;
    min-height: 0;
    justify-content: space-between;
    padding-top: 72px;
    flex: 1 1 auto;
}

.text_box{
    height: 250px;
    position: absolute;
    min-width: 600px;
    max-width: 918px;
    border-radius: 4px;
    padding: 32px;
    background-color: #1D1D1D;
    color: #F8F7E5;
    top: 328px;
    left: 554px;
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >button{
        min-width: 131px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid #F8F7E5;
        color: #F8F7E5;
        padding: 12px 24px;
        background-color: #1D1D1D;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    >img{
        width: 28.4px;
        height: 30.24px;
    }
    }
}



.left_part{
    padding-left: 40px;
    >img{
        height: 100%;
    }
}



.right_part{
    display: flex;
}