*{
    box-sizing: border-box;
}

.content{
    width: 100%;
    height: 100vh;
    background-color: #F8F7E5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main{
    display: flex;
    padding: 0 72px;
    // height: calc(100% - 165px);
    min-height: 0;
    justify-content: space-between;
    padding-top: 72px;
    flex: 1 1 auto;
    //  box-sizing: border-box;
}

.text_box{
    height: 250px;
    position: absolute;
    min-width: 600px;
    width: 41%;
    border-radius: 4px;
    padding: 32px;
    background-color: #1D1D1D;
    color: #F8F7E5;
    // top: 42%;
    top: 328px;
    left: 554px;
}


.left_part{
    padding-left: 40px;
    >img{
        height: 100%;
    }
}



.right_part{
    display: flex;
}