*{
    box-sizing: border-box;
}


.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(157,157,158);
    display: flex;
    flex-direction: column;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 72px;
    flex-direction: row;
}


.main{
    display: flex;
    padding-top: 72px;
    min-height: 0;
    justify-content: space-between;
    flex: 1 1 auto;
    position: relative;
}

.text_box{
    height: 250px;
    position: absolute;
    min-width: 600px;
    max-width: 918px;
    border-radius: 4px;
    padding: 32px;
    background-color: #1D1D1D;
    color: #F8F7E5;
    top: 400px;
    left: 560px;
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >a{
        text-decoration: none;
        min-width: 131px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid #F8F7E5;
        color: #F8F7E5;
        padding: 12px 24px;
        background-color: #1D1D1D;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    >a:hover{
      background-color: #FF834F;
      cursor: pointer;
    }
    >img{
        width: 40px;
        height: 40px;
        animation: jump 1.2s ease-in-out infinite;
        position: relative;
        display: inline-block;
    }
    >img:hover + .hover-div{
      cursor: pointer;
  
        opacity: 1 !important;
      visibility: visible !important;
      transform: translateY(0) !important;
      
    }
    }
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

h4{
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  text-align: center;
}

.hover-div{
  background-color: #679AAC;
  position: absolute;
  width: 272px;
  min-height: 263px;
  top: 91%;
  left: 90%;
  border-radius: 4px;
  border: 1px solid #1D1D1D;
  padding: 32px;
  color: #F8F7E5;
  display: flex;
  flex-direction: column;
  gap: 16px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;

  
}

.skills{
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: start;
  >div{
    display: flex;
    align-items: center;
    gap: 8px;
    >img{
      width: 16px;
      height: 16px;
    }
    >p{
      margin: 0;
      font-size: 18px;
      line-height: 120%;

    }
  }
      
}


.left_part{
    padding-left: 40px;
    height: calc(100vh - 165px);
    >img{
      height: 90%;
      bottom: 0;
      position: absolute;
      left: 0;
    }
}



.right_part{
    display: flex;
}