

<div id="1" class="content scroll">
    <app-navbar1></app-navbar1>
    <div class="content_wrapper">
    <div class="main">
        <div class="left_part">
            <img src="../../assets/imgs/photo2.png" alt="photo">
        </div>
        <div class="right_part">
            <h3>About me</h3>
            
        </div>
        
        
        <div class="text_box">
            <p>Hey there, I'm Hanna. Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?  Do you learn from each challenge as you search for the most efficient or elegant solution?
            <br> <br> 
            Let's connect and create something amazing together!</p>
            <div>
                <button>Let's Talk</button>
                <img src="../../assets/imgs/icons/emoji1.png" alt="emoji">
                <div class="hover-div">
                    <h4>More about me</h4>
                    <div class="skills">
                    <div>
                        <img src="./../../assets/imgs/icons/check_circle.png" alt="icon">
                        <p>Team player</p>
                    </div>
                    <div>
                        <img src="./../../assets/imgs/icons/check_circle.png" alt="icon">
                        <p>Continously learning</p>
                    </div>
                    <div>
                        <img src="./../../assets/imgs/icons/check_circle.png" alt="icon">
                        <p>Creative Thinker</p>
                    </div>
                    <div>
                        <img src="./../../assets/imgs/icons/check_circle.png" alt="icon">
                        <p>Based in Munich</p>
                    </div>
                    <div>
                        <img src="./../../assets/imgs/icons/check_circle.png" alt="icon">
                        <p>Open to work remote</p>
                    </div>
                    <div>
                        <img src="./../../assets/imgs/icons/check_circle.png" alt="icon">
                        <p>Open to relocate</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
  </div>      
<app-dots></app-dots>
</div>
</div>

