<div id="5" class="content scroll">
<app-navbar1></app-navbar1>
<div class="main">
    <div class="page">
        
        <img class="orange_sun" src="../../assets/imgs/icons/sun_icon_orange_180.png" alt="turning sun icon orange">
        <img class="blue_sun" src="../../assets/imgs/icons/sun_blue.png" alt="turning sun icon blue">
        <div class="arrow_div"><div class="arrow_up"></div></div>
    
        <div class="left_part" style="min-width: 528px;">
            <h3>Lets build something Cool together!</h3>
            <div>
                <h4>Got a problem to solve?</h4>
                <p>Encourage people to contact you and describe what role you are interested in.  Show that you will add value to their projects through your work. </p>
            </div>

        </div>
        <div class="right_part">
            <div class="personal_data">
                <div class="border_bottom short">
                    <h5>What's yout name?</h5>
                    <input [class.red]="missingNameData" (click)="emptyInput('inputName')" [(ngModel)]="inputName" type="text" class="input">
                   
                </div>
                <div class="border_bottom short">
                    <h5>What's yout email?</h5>
                    <input [class.red]="missingEmailData"  (click)="emptyInput('inputEmail')" [(ngModel)]="inputEmail" type="text" class="input">
                    
                </div>
            </div>
            <div class="border_bottom">
                <h5>How can I help you?</h5>
                <input [class.red]="missingMessageData"  (click)="emptyInput('inputMessage')" [(ngModel)]="inputMessage" type="text" class="input">
            </div>
            <div style="display: flex; flex-direction: column; gap: 16px;">
            <div style="height: 52.2px;">
            <div class="privacy_box">
                <div class="checkmark" [class.active]="isActive" [class.inactive]="!isActive" (click)="toggle()"></div>
                <p class="input">I've read the <a>privacy policy</a> and agree to the processing of my data.</p>
            </div>
            <p class="privacy_alert" [class.privacy_alert_active]="!privacyAlert">Please accept the privacy policy.</p>
            </div>
            <div style="text-align: center;">
            <button [disabled]="!isActive" (click)="sendInputData()">Drop a Line</button>
            </div>
            </div>

        </div>
        <div class="footer">
            <p>© Hannah Luisa Anton 2026</p>
            <div>
            <p>Impressum</p>
            <p>LinkedIn</p>
            <p>GitHub</p>
        </div>
        </div>

    </div>
<app-dots></app-dots>
</div>
</div>
