<div id="5" class="content scroll">
<app-navbar1></app-navbar1>
<div class="main">
    <div class="page">
        
        <img class="orange_sun" src="../../assets/imgs/icons/sun_icon_orange_180.png" alt="turning sun icon orange">
        <img class="blue_sun" src="../../assets/imgs/icons/sun_blue.png" alt="turning sun icon blue">
        <a [href]="'#0'"><div class="arrow_div"><div class="arrow_up"></div></div></a>
    
        <div class="left_part" style="min-width: 528px;">
            <h3>Lets build something Cool together!</h3>
            <div>
                <h4>Got a problem to solve?</h4>
                <p>
                    I’m interested in front-end and web development, creating intuitive, responsive, and user-centered solutions. If you think I could add value to your project, feel free to get in touch — I’d love to hear from you. </p>
            </div>

        </div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="right_part">
            <div class="personal_data" >
                <div class="border_bottom short">
                    <h5 for="name">What's yout name?</h5>
                    <input [(ngModel)]="currentData.name" name="name" [class.red]="missingNameData" id="name" [placeholder]="contactForm.submitted && contactForm.controls['name']?.invalid? 'Oops! it seems your name is missing': 'Your name goes here'" type="text" class="input" required>
                   
                </div>
                <div class="border_bottom short">
                    <h5 for="email">What's yout email?</h5>
                    <input [(ngModel)]="currentData.email" #emailCtrl="ngModel" name="email" [class.red]="missingEmailData" class="input" id="email" [placeholder]="contactForm.submitted && emailCtrl.invalid? 'Hoppla! your email is required': 'youremail@email.com'"
 required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    
                </div>
            </div>
            <div class="border_bottom">
                <h5 for="message">How can I help you?</h5>
                <textarea #message="ngModel" [(ngModel)]="currentData.message" #messageCtrl="ngModel" name="message" [class.red]="missingMessageData" type="text" id="message" [placeholder]="contactForm.submitted && contactForm.controls['message']?.invalid? 'What do you need to develop?': 'Hello Hannah, I am interested in...'" class="input" required></textarea>
            </div>
            <div style="display: flex; flex-direction: column; gap: 16px;">
            <div style="height: 52.2px;">
            <div class="privacy_box">
                <div class="checkmark" [class.active]="isActive" [class.inactive]="!isActive" (click)="toggle()">
                </div>
                <p class="input">I've read the <a routerLink="/privacypolicy">privacy policy</a> and agree to the processing of my data.</p>
            </div>
            <p class="privacy_alert" [class.privacy_alert_active]="!privacyAlert">Please accept the privacy policy.</p>
            </div>
            <div style="text-align: center;">
            <button type="submit" value="Submit" [disabled]="!isActive">Drop a Line</button>
            </div>
            </div>

        </form>
        <div class="footer">
            <p>© Hannah Luisa Anton 2026</p>
            <div>
            <a routerLink="/imprint">Impressum</a>
            <a href="https://www.linkedin.com/in/hannah-luisa-a-16baa8201/" target="_blank">LinkedIn</a>
            <a href="https://github.com/hl4ntn" target="_blank">GitHub</a>
        </div>
        </div>

    </div>
<app-dots></app-dots>
</div>
</div>
