.content{
    background-color: #1D1D1D;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
    justify-content: space-between;
        position: relative;
}

h3{
    color: #F9AF42;
}

h4{
    color: #FF834F;
    font-size: 24px;
    line-height: 120%;
}

h5{
    font-size: 24px;
    line-height: 120%;
    color: #F8F7E5;
    margin: 0;
}

p{
    color: #F8F7E5;
    line-height: 120%;
}

.page{
    display: flex;
    flex-direction: row;
    padding: 67px 52px;
    gap: 124px;
}

.arrow_div{
    position: absolute;
    height: 88px;
    
    top: 160px;
    right: 70px;
    width: 30px;
    display: flex;
    align-items: flex-end;
    &:hover{
        border-bottom: 1px solid #FF834F;
        cursor: pointer;
    }
}

.arrow_div:hover .arrow_up{
    background-image: url(../../assets/imgs/icons/arrow_up_hover.png);
}

.arrow_up{
    width: 30px;
    height: 48px;
    background-image: url(../../assets/imgs/icons/arrow_up.png);
    animation: arrowJump 500ms ease-in 10ms infinite alternate;
    transform-origin: center bottom;
    
}

.right_part{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: end;
    padding-bottom: 18vh;

}

.orange_sun{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 72px;
    animation: turn_right 8s linear infinite;
}

.blue_sun{
    width: 263px;
    height: 263px;
    position: absolute;
    bottom: 0;
    left: 183px;
    animation: turn_left 8s linear infinite;
}

.personal_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.input, textarea{
    margin: 0;
    color: #FFFFFFCC !important;
    background-color:#1D1D1D !important;
    border: 0;
    line-height: 120%;
    font-size: 16px;
    resize: none;
    scrollbar-width: none;
    height: 22px;
    a{
        color: #FF834F;
        text-decoration: none;
    &:hover{
        cursor: pointer;
        color: #FFFFFF;
        font-weight: 700;
    }
    }
}

.width_310{
    width: 310px;
}

input:focus {outline:0!important;}


input.input:-webkit-autofill,
input.input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0px 1000px #1D1D1D inset !important;
  -webkit-text-fill-color: rgba(255,255,255,0.8) !important;
  transition: background-color 5000s ease-in-out, color 5000s ease-in-out;
}


textarea:focus {outline: none !important;}

.border_bottom{
    border-bottom: 1px solid #F9AF42;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    padding-right: 30px;
    min-height: 57px;
    // min-width: 280px;
        justify-content: space-between;
    &:hover{
        border-bottom: 1px solid #FF834F;
        cursor: pointer;
    }
    >div{
        height: calc(100% - 22px);
        display: flex;
        align-items: center;
    }
 }

 .border_bottom:hover h5{
    color: #FF834F;
    
 }

 .border_bottom:hover .input{
    color: #F8F7E5;
 }



 .short{
    width: 238px;
 }

 button{
    border-radius: 100px;
    background-color: #1D1D1D;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    padding: 0 20px;
    height: 40px;
 }

 button:disabled{
    border: 1px solid #858585;
    color: #858585;
 }

 button:enabled {
    border: 1px solid #F8F7E5;
    color: #F8F7E5;
    &:hover{
        background-color: #FF834F;
        cursor: pointer;
    }
}

 .privacy_box{
    display: flex;
    gap: 8px;
    align-items: center;
 }

 .privacy_alert{
    display: none;
    margin: 0;
    margin-top: 8px;
    color: #EC7B7B;
 }

 .privacy_alert_active{
    display: block !important;
 }

 .checkmark{
    background-repeat: no-repeat;
    background-position: center center;
    margin: 2.5px;
    width: 20px;
    height: 20px;
    &:hover{
        cursor: pointer;
    }
 }

 .active{
    background-image: url(../../assets/imgs/icons/checkmark_checked.png);
    &:hover{
        background-image: url(../../assets/imgs/icons/checkmark_checked_hover.png);
    }

 }

 .inactive{
    background-image: url(../../assets/imgs/icons/checkmark.png);
    &:hover{
        background-image: url(../../assets/imgs/icons/checkmark_hover.png);
    }
 }

 input::placeholder{
    color: #FFFFFFCC,
 }

  input.red::placeholder{
    color: #EC7B7BCC !important;
 }

  textarea::placeholder{
    color: #FFFFFFCC,
 }

  textarea.red::placeholder{
    color: #EC7B7BCC !important;
 }



.footer{
    position: absolute;
    width: 50vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    right: 72px;
    color: #F8F7E5;
    padding-bottom: 38px;
    >div{
        display: flex;
        gap: 32px;
        align-items: center;
        >a{
            text-decoration: none;
            color: #F8F7E5;
            line-height: 120%;
            &:hover{
                cursor: pointer;
                color: #FF834F;
            }
        }
    }
}



@keyframes turn_right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

@keyframes turn_left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
    }
}

@keyframes arrowJump {
   0% {
    transform: translateY(0) scaleY(0.85);
  }
  100% {
    transform: translateY(-45px) scaleY(1.4);
  }
  

}

