<div data-aos="fade-up"  class="content">
<app-navbar1></app-navbar1>
<div class="main">
    <div class="page">
        
        <img class="orange_sun" src="../../assets/imgs/icons/sun_icon_orange_180.png" alt="turning sun icon orange">
        <img class="blue_sun" src="../../assets/imgs/icons/sun_blue.png" alt="turning sun icon blue">
        <img class="arrow_up" src="../../assets/imgs/icons/arrow_up.png" alt="arrow up">
    
        <div class="left_part" style="min-width: 528px;">
            <h3>Lets build something Cool together!</h3>
            <div>
                <h4>Got a problem to solve?</h4>
                <p>Encourage people to contact you and describe what role you are interested in.  Show that you will add value to their projects through your work. </p>
            </div>

        </div>
        <div class="right_part">
            <div class="personal_data">
                <div class="border_bottom short">
                    <h5>What's yout name?</h5>
                    <p class="input">Your name goes here</p>
                    <div class="spaceholder"></div>
                </div>
                <div class="border_bottom short">
                    <h5>What's yout email?</h5>
                    <p class="input">youremail&#64;email.com</p>
                    <div class="spaceholder"></div>
                </div>
            </div>
            <div class="border_bottom">
                <h5>How can I help you?</h5>
                <p class="input">Hello Lukas, I am interested in...</p>
            </div>
            <div class="privacy_box">
                <img style="margin: 2.5px;" src="../../assets/imgs/icons/checkmark.png" alt="checkmark">
                <p class="input">I've read the <a style=color:#FF834F>privacy policy</a> and agree to the processing of my data.</p>
            </div>
            <div style="text-align: center;">
            <button>Drop a Line</button>
            </div>

        </div>
        <div class="footer">
            <p>© Hannah Luisa Anton 2026</p>
            <div>
            <p>Impressum</p>
            <p>LinkedIn</p>
            <p>GitHub</p>
        </div>
        </div>

    </div>
<app-dots></app-dots>
</div>
</div>
