<div class="content">
<app-navbar1></app-navbar1>
<div class="main">
    <div class="competencies">
        <div class="top_part">
            <h3 class="white">Core Competencies</h3>
            <div class="text_box">
            <p>Emphasise that you have used a variety of front-end technologies in your projects. Where have you used these skills: static or dynamic websites, responsive layouts, data visualization interfaces, smooth user experiences?</p>
        </div>

        </div>
        <div class="bottom_part">

        </div>

    </div>


    <app-dots></app-dots>
</div>
</div>
