.content{
    background-color: #1D1D1D;
    width: 100%;
    height: 100vh;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
}

.competencies{
    padding: 67px 52px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_part{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 8vh;
    >div{
        background-color: #679AAC;
        min-width: 600px;
        max-width: calc(50vw - 72px);
        min-height: 140px;
        border-radius: 4px;
        padding: 32px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
        line-height: 120%;
        color: #F8F7E5;
    }
}

.white{
    color: #F8F7E5;
}

.bottom_part{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16vh;

}

.turning_sun_div{
    display: flex;
    align-items: flex-end;
    position: relative;
}

.turning_sun{
    width: 120px;
    height: 120px;
    animation: turn 8s linear infinite;
}

.heat_icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 205px;
    left: 40px;
    &:hover + .hover-div{
        cursor: pointer;
        opacity: 1 !important;
        visibility: visible !important;
        transform: translateY(0) !important;
    }
}

.icons_box{
    display: flex;
    width: 640px;
    height: 283px;
    gap: 40px;
    flex-wrap: wrap;
    >div{
        display: flex;
        width: 96px;
        height: 123px;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        color: #F8F7E5;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
        >img{
            width: 72px;
            height: 72px;
            width: 72px;
            height: 72px;
            transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
            will-change: transform;
            &:hover{
                transform: scale(1.25);
                transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        >p{
           margin: 0; 
            text-align: center;
        }
    }
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

@keyframes zoom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

h4{
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  text-align: center;
}

.hover-div{
  background-color: #F9AF42;
  position: absolute;
  width: 360px;
  bottom: 10px;
left: 168px;
  border-radius: 4px;
  border: 1px solid #F8F7E5;
  padding: 32px;
  color: #F8F7E5;
  display: flex;
  flex-direction: column;
  gap: 32px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;

  
}

.overlay_content{
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  >p{
      margin: 0;
      font-size: 16px;
      line-height: 120%;
      text-align: justify;
    }
  >div{
    display: flex;
    align-items: center;
    gap: 40px;
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        >img{
            width: 40px;
            height: 40px;
        }
        >p{
            margin: 0;
            font-size: 16px;
            line-height: 120%;
        }
    }
    
    
  }
      
}