<div id="2" class="content scroll">
<app-navbar1></app-navbar1>
<div class="main">
    <div class="competencies">
        <div class="top_part">
            <h3 class="white">Core Competencies</h3>
            <div class="text_box">
            <p>I have used a variety of front-end technologies in my projects. I have strengthened my skills in building static and dynamic websites, responsive layouts, and data visualization interfaces, always ensuring smooth user experiences.</p>
        </div>

        </div>
        <div class="bottom_part">
            <div class="turning_sun_div">
                <img class="turning_sun" src="../../assets/imgs/icons/sun_icon_orange.png" alt="sun icon">
                <img class="heat_icon" src="../../assets/imgs/icons/heat_emoji.png" alt="heat icon">
                <div class="hover-div">
                    <h4>Don't see the skill you are looking for?</h4>
                    <div class="overlay_content">
                   
                        <p>Feel free to contact me. I look forward to expanding on my previous knowledge. Also I have a special interest in learning:</p>
                   
                    <div>
                        <div>
                            <img src="./../../assets/imgs/icons/React.png" alt="icon">
                            <p>React</p>
                        </div>
                        <div>
                            <img src="./../../assets/imgs/icons/vue.png" alt="icon">
                            <p>Vue.js</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="icons_box">
            <div>
                <img src="../../assets/imgs/icons/html_icon.png" alt="html icon">
                <p>HTML</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/css_icon.png" alt="css icon">
                <p>CSS</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/JavaScrips_icon.png" alt="JavaScript icon">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/TypeScrips-icon.png" alt="TypeScript icon">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/angular_icon.png" alt="Angular icon">
                <p>Angular</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/html_icon.png" alt="html icon">
                <p>Firebase</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/firebase_icon.png" alt="Firebase icon">
                <p>Git</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/rest-api_icon.png" alt="EST-API icon">
                <p>REST-API</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/scrum_icon.png" alt="Scrum icon">
                <p>Scrum</p>
            </div>
            <div>
                <img src="../../assets/imgs/icons/material_design_icon.png" alt="Material Design icon">
                <p>Material Design</p>
            </div>
        
        </div>

        </div>

    </div>


    <app-dots></app-dots>
</div>
</div>
