.page{
    width: 100%;
    height: 100vh;
    background-color: #F8F7E5;
    color: #1D1D1D;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
    justify-content: space-between;
}

.heading{
    display: flex;
    gap: 18px;
    align-items: flex-end;
    width: 942px;
    h3{
        min-width: 302px;
    }
}

.content{
    padding: 10vh 52px;
    width: 100%;
    padding-right: 36px;
    display: flex;
    flex-direction: column;
}

.projects{
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex: 1;
}

.preview{
    width: 488px;
    height: 488px;
    border-radius: 4px;
    border: 1px solid #1D1D1D;
    background-color: #F9AF42;
    display: flex;
    justify-content: left;
    align-items: end;
    position: relative;
}

.icon{
        width: 180px;
        height: 180px;
    }

.screenshot{
    width: 413.74px;
    height: 294.92px;
    border-radius: 4px;
    position: absolute;
    left: 37.14px;
    top: 95px;
}

.explanation_box{
    min-width: 688px;
    flex: 1;
}

.project_presentation{
    background-color: #1D1D1D;
    border-radius: 4px;
    height: 304px;
    padding: 32px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    >img{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 58px;
        right: 28px;
    }
    h4{
       font-weight: 700;
       color: #F8F7E5;
       font-size: 24px;
       line-height: 120%; 
        margin: 0;
    }
    >div{
        display: flex;
        gap: 32px;

        >button{
            color: #F8F7E5;
            height: 40px;
            display: flex;
            padding: 12px 24px;
            border-radius: 100px;
            border: 1px solid #F8F7E5;
            font-family: "Quicksand";
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            background-color: #1D1D1D;
            gap: 4px;
            justify-content: center;
            align-items: center;
            >img{
                width: 20px;
                height: 20px;
            }
        }
    }
}

.skills{
    font-family: "Karla";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #679AAC;
    margin: 0;
}

.explanation_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #F8F7E5;
    font-family: "Quicksand";
    margin: 0;
}

.butttons_div{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;

}