<div class="page">
<app-navbar1></app-navbar1>
<div class="main">
    <div class="content">
        <div class="heading">
            <h3>My work</h3>
            <p>Explore a selection of my work here - Interact with the projects to see my skills in action.</p>
        </div>
        <div class="projects">

            <div class="preview">
                <img class="icon" src="../../assets/imgs/icons/sun_icon_orange_180.png" als="orange sun icon">
                <img class="screenshot" src="../../assets/imgs/projects/join.png" alt="screenshot join">
            </div>
            <div class="explanation_box">
                <div class="project_presentation">
                    <img src="../../assets/imgs/icons/green_checkmark.png" alt="checkmark">
                    <h4>Join</h4>
                    <p class="skills">HTML|CSS|Firebase|Angular|TypeScript</p>
                    <p class="explanation_text">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </p>
                    <div>
                        <button>GitHub <img src="../../assets/imgs/icons/arrow_right.png" alt="arrow right"></button>
                        <button>Live Test <img src="../../assets/imgs/icons/arrow_right.png" alt="arrow right"></button>
                    </div>
                </div>
                <div class="butttons_div">
                    <pre>>> Previous project</pre>
                    <pre>Next project >></pre>
                </div>
            </div>








            
        </div>





    </div>
<app-dots></app-dots>
</div>
</div>
