.content_wrapper{
    background-color: #679AAC;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 67px 52px;
}

.comments{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pos_rel{
    position: relative;
    height: 650px;
}

h3{
    color: #F8F7E5;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
}

.comment_section_left{
    display: flex;
    justify-content: start;
    position: absolute;
    width: 100%;
    top: 0px;
}

.comment_section_center{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 180px;
}

.comment_section_right{
    display: flex;
    justify-content: end;
    position: absolute;
    width: 100%;
    top: 320px;
}

.comment_div{
    width: 384px;
    >p{
        text-align: right;
        color: #F8F7E5;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        &:hover{
                cursor: pointer;
                color: #FF834F;
            }
    }
}

.reference_box{
        border: 1px solid #F8F7E5;
        border-radius: 4px;
        padding: 32px;
        color: #F8F7E5;
        line-height: 120%;
        font-weight: 400;
        font-family: "Quicksand";
        gap: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        img{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 32px;
            right: 32px;
            visibility: hidden;
        }
        h4{
            display: flex;
            font-size: 24px;
            margin: 0;
            height: 40px;
            align-items: center;
        }
        >p{
            font-size: 16px;
            margin: 0;
            
        }
}

.bold{
    font-weight: 700;
    font-size: 18px;
}

.reference_box:hover img{
    visibility: visible;
}