<div id="4" class="content_wrapper scroll">

<app-navbar1></app-navbar1>
<div class="main">
    <div class="content">
        <h3>What my colleagues say about me</h3>
        <div class="comments">
        <div class="pos_rel">



            <div class="comment_section_left">
            <div style="z-index:99;" class="comment_div">
               
                <div class="reference_box">
                     <img src="../../assets/imgs/icons/small_sun.png" alt="icon">
                    <h4>Tanja Schulz</h4>
                    <p>Hier kommt der Text von einer zukünftigen Gruppenarbeit herein, da ich meine Gruppenpartner von JOIN nicht auf LinkedIn finde und daher dann die nächsten fragen werde. </p>
                    <p class="bold">Frontend Developer</p>
                </div>
                <a href="https://www.linkedin.com/in/hannah-luisa-a-16baa8201/" target="_blank"><p>zum LinkedIn profile >></p></a>
            </div>
            </div>


            <div class="comment_section_center">
            <div  style="z-index:98;" class="comment_div">
                
                <div class="reference_box">
                    <img src="../../assets/imgs/icons/small_sun.png" alt="icon">
                    <h4>Tanja Schulz</h4>
                    <p>Hier kommt der Text von einer zukünftigen Gruppenarbeit herein, da ich meine Gruppenpartner von JOIN nicht auf LinkedIn finde und daher dann die nächsten fragen werde. </p>
                    <p class="bold">Frontend Developer</p>
                </div>
                <a href="https://www.linkedin.com/in/hannah-luisa-a-16baa8201/" target="_blank"><p>zum LinkedIn profile >></p></a>
            </div>
            </div>



            <div class="comment_section_right">
            <div  style="z-index:97;" class="comment_div">
                
                <div class="reference_box">
                    <img src="../../assets/imgs/icons/small_sun.png" alt="icon">
                    <h4>Tanja Schulz</h4>
                    <p>Hier kommt der Text von einer zukünftigen Gruppenarbeit herein, da ich meine Gruppenpartner von JOIN nicht auf LinkedIn finde und daher dann die nächsten fragen werde. </p>
                    <p class="bold">Frontend Developer</p>
                </div>
                <a href="https://www.linkedin.com/in/hannah-luisa-a-16baa8201/" target="_blank"><p>zum LinkedIn profile >></p></a>
            </div>
            </div>




        </div>
        </div>

        
    </div>
<app-dots></app-dots>
</div>
</div>
