.content_wrapper{
    background-color: #679AAC;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 67px 52px;
}

.comments{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pos_rel{
    position: relative;
    height: 650px;
}

h3{
    color: #F8F7E5;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
}

.comment_section_left{
    display: flex;
    justify-content: start;
    position: absolute;
    width: 100%;
    top: 0px;
}

.comment_section_center{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 180px;
}

.comment_section_right{
    display: flex;
    justify-content: end;
    position: absolute;
    width: 100%;
    top: 320px;
}

.comment_div{
    width: 384px;
    >a{
        text-align: right;
        text-decoration: none;
        color: #F8F7E5;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        &:hover{
                cursor: pointer;
                color: #FF834F;
            }
    }
}

.reference_box{
        border: 1px solid #F8F7E5;
        border-radius: 4px;
        padding: 32px;
        color: #F8F7E5;
        line-height: 120%;
        font-weight: 400;
        font-family: "Quicksand";
        gap: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        img{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 32px;
            right: 32px;
            visibility: hidden;
        }
        h4{
            display: flex;
            font-size: 24px;
            margin: 0;
            height: 40px;
            align-items: center;
        }
        >p{
            font-size: 16px;
            margin: 0;
            
        }
}

.bold{
    font-weight: 700;
    font-size: 18px;
}

.reference_box:hover img{
    visibility: visible;
}

@media(max-width: 1440px){
  .content{
    padding: 36px 0px;
    padding-right: 24px;
}

.main{
        padding: 0 60px;
    padding-right: 72px;
}
.reference_box{
    gap: 4px;
    padding: 24px;
     >img{
        top: 12px;
    right: 12px;
    }
}
 h3{
            font-size: 56px;
            padding-right: 0;
                padding-bottom: 16px;
    }
}

@media(max-height: 860px){
    h3{
            font-size: 56px;
            padding-right: 0;
                padding-bottom: 16px;
    }
    // .reference_box:hover{
    //     padding: 16px;
    // }
    .content{
    padding: 36px 0px;
    padding-right: 24px;
}
.main{
        padding: 0 60px;
    padding-right: 72px;
}
.reference_box{
    gap: 4px;
    padding: 24px;
    // position: unset;
    >img{
        top: 12px;
    right: 12px;
    }
}
}

@media(max-width: 1337px) {
    .reference_box{
                padding: 12px;
    }
    .comment_section_right{
       position: unset;
    }
    .comment_section_center{
        position: unset;
    }
    .comment_section_left{
        position: unset;
    }
    .comment_div{
        width: unset;
    }
    .pos_rel{
            display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
}

@media(max-width:996px){
.main{
   height: 100%;
}}

@media(max-width: 688px){
    h3{
        font-size: 40px;
    }
}

@media(max-width: 585px){
    .reference_box{
                padding: 8px;
                >h4{
        font-size: 18px;
    }  
    }
    .main{
        padding: 0 12px;
        padding-right: 12px;
    }
    .comments {
        flex: unset;
    }
    .reference_box{
        >h4{
           height: 24px; 
        }
            
    }
    .comment_div{
        >a{
            >p{
                margin: 8px 0;
            }
        }
    }
    .content{
        padding: 0;
        padding-top: 24px;
    }

    @media(max-height: 800px){
.reference_box{
> p {
    font-size: 14px;
}
 }

    }
        }

        @media(max-height: 800px){
 .pos_rel{
    height: unset;
}
        }
       
    
   
