<div class="content_wrapper">

<app-navbar1></app-navbar1>
<div class="main">
    <div class="content">
        <h3>What my colleagues say about me</h3>
        <div class="comments">
        <div class="pos_rel">



            <div class="comment_section_left">
            <div class="comment_div">
                <div class="reference_box">
                    <h4>Tanja Schulz</h4>
                    <p>Hanna has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project. </p>
                    <p class="bold">Frontend Developer</p>
                </div>
                <p>zum LinkedIn profile >></p>
            </div>
            </div>


            <div class="comment_section_center">
            <div class="comment_div">
                <div class="reference_box">
                    <h4>Tanja Schulz</h4>
                    <p>Hanna has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project. </p>
                    <p class="bold">Frontend Developer</p>
                </div>
                <p>zum LinkedIn profile >></p>
            </div>
            </div>



            <div class="comment_section_right">
            <div class="comment_div">
                <div class="reference_box">
                    <h4>Tanja Schulz</h4>
                    <p>Hanna has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project. </p>
                    <p class="bold">Frontend Developer</p>
                </div>
                <p>zum LinkedIn profile >></p>
            </div>
            </div>




        </div>
        </div>

        
    </div>
<app-dots></app-dots>
</div>
</div>
