.content{
    background-color: #679AAC;
    width: 100%;
    height: 100vh;
    color: #F8F7E5;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
    
}

.main_content{
    display: flex;
    padding-top: 72px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    width: 100%;
}

.left_screen{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 72px;
    a{
        text-decoration: none;
        margin-top: 24px;
        background-color: transparent;
        border-radius: 100px;
        width: 107px;
        height: 16px;
        border: 1px solid #F8F7E5;
        padding: 12px 24px;
        display: flex;
        color: #F8F7E5;
        font-size: 18px;
        font-weight: 800;
        line-height: 120%;
        align-items: center;
        justify-content: center;
    }
    a:hover{
        background-color: #FF834F;
        cursor: pointer;
    }
}

.margin20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading{
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.scroll_icon{
    // height: 18%;
    position: relative;
    >.scroll_icon{
        height: 144px;
        width: 144px;
        animation: turn 8s linear infinite;
    }
    >.arrow_down{
        width: 38.57px;
        height: 41px;
        position: absolute;
        left: 54px;
        top: 50px;
    }
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

.photo-container{
    position: relative;
    width: 792px;
    height: 100%;
}

.topright{
        top: 26%;
    right: 4%;
    height: 55%;
        z-index: 1;
}

.middleleft{
    height: 60%;
    filter: brightness(0) saturate(100%)
          invert(96%)
          sepia(8%)
          saturate(180%)
          hue-rotate(2deg)
          brightness(103%)
          contrast(97%);
    bottom: 0;
    right: 40%;
    z-index: 0;
}

.bottomright{
    bottom: 0;
    right: 0;
    height: 120%;
    z-index: 2;
}

