.content{
    background-color: #679AAC;
    width: 100%;
    height: 100vh;
    color: #F8F7E5;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
}

.main_content{
    display: flex;
    padding-top: 72px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    width: 100%;
}

.left_screen{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 72px;
    button{
        background-color: transparent;
        border-radius: 100px;
        width: 155px;
        height: 40px;
        border: 1px solid #F8F7E5;
        padding: 24px 12px;
        display: flex;
        color: #F8F7E5;
        font-size: 18px;
        font-weight: 800;
        line-height: 120%;
            align-items: center;
        justify-content: center;
    }
}

.margin20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading{
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.scroll_icon{
    // height: 18%;
    position: relative;
    >.scroll_icon{
        height: 144px;
        width: 144px;
    }
    >.arrow_down{
        width: 38.57px;
        height: 41px;
        position: absolute;
        left: 54px;
        top: 50px;
    }
}

.photo-container{
    position: relative;
    width: 792px;
    height: 100%;
}

.topright{
    top: 0;
    right: 0;
    height: 60%;
}

.bottomright{
    bottom: 0;
    right: 0;
    height: 100%;
}

.dots{
    display: flex;
    flex-direction: column;
    gap: 20px;   
    justify-content: center;
    height: 100%;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    rotate: 45deg;
}

.diamont{
    width: 8px;
    height: 8px;
    background-color: #F9AF42;
    rotate: 45deg;
}

.white{
    background-color: #F8F7E5;
}

.black{
    background-color: #1D1D1D;
}