.content{
    background-color: #679AAC;
    width: 100%;
    height: 100vh;
    color: #F8F7E5;
        overflow: hidden;
}

.main{
    display: flex;
    padding: 0 72px;
    height: calc(100% - 93px);
    
}

.main_content{
    display: flex;
    padding-top: 72px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    width: calc(100% - 80px);
}

.left_screen{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 72px;
    a{
        text-decoration: none;
        margin-top: 24px;
        background-color: transparent;
        border-radius: 100px;
        max-width: 160px;
        height: 16px;
        border: 1px solid #F8F7E5;
        padding: 12px 24px;
        display: flex;
        color: #F8F7E5;
        font-size: 18px;
        font-weight: 800;
        line-height: 120%;
        align-items: center;
        justify-content: center;
    }
    a:hover{
        background-color: #FF834F;
        cursor: pointer;
    }
}

.margin20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading{
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.scroll_icon{
    // height: 18%;
    position: relative;
    >.scroll_icon{
        height: 144px;
        width: 144px;
        animation: turn 8s linear infinite;
    }
    >.arrow_down{
        width: 38.57px;
        height: 41px;
        position: absolute;
        left: 54px;
        top: 50px;
    }
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

.photo-container{
    position: relative;
    height: 100%;
}

.topright{
    top: 10%;
    right: 0;
    height: 65%;
    z-index: 1;
}

.bottomright{
    bottom: 0;
    right: 120px;
    height: 96%;
    z-index: 2;
}

@media (max-width: 1350px){
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 32px;
    }
    .bottomright{
        height: 560px;
        right: 70px;
    }
    .topright{
            top: 20%;
    right: 20px;
    height: 55%;
    }
    .main-content{
        padding: 0;
    }
    .scroll_icon{
        >.scroll_icon{
        height: 100px;
        width: 100px;
    }
    
    >.arrow_down{
        left: 38px;
        top: 39px;
            width: 25.57px;
    height: 25px;
    }
}
    
}

@media (max-width: 995px){
    .bottomright{
        right: 0px;
    }
    .topright{
   
    }
    .main{
        padding: 0px;
    }
     
}


@media (max-width: 925px){
    .bottomright{
        height: 460px;    
    }
    .topright {
        top: 30%;
        right: -20px;
        height: 45%;
    }
        
}

@media (max-width: 755px){
    .main_content{
            padding-top: 24px;
                padding-left: 24px;
    padding-right: 24px;
    width: unset;
    }
    .margin20{
        margin: 0;
    }
    .bottomright{
        height: 420px;;
    }
    .topright{
                top: 38%;
        right: -20px;
        height: 35%;
    }
    .content{
        width: unset;
    }
    .heading{
        width: unset;
    }
        
}

@media (max-width: 495px){
  .bottomright{
            height: 340px;
  }
  .topright{
    top: 50%;
        right: -20px;
        height: 29%;
  }
  .main_content{
            padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
  }
  h1{
            font-size: 64px;
  }
        
}

@media (max-width: 406px){
  h1{
            font-size: 45px;
  }
  h2{
    font-size: 24px;
  }
  .left_screen{
        padding-bottom: 2px;
    >a{
            padding: 10px 12px;
            font-size: 16px;
    }
  }
  .scroll_icon{
    >.scroll_icon{
        z-index: 999;
            background-color: #679AAC;
        border-radius: 100%;
    }
    >.arrow_down{
        z-index: 1000;
    }
  }
        
}

