<section>
    <div class="socials">
        <img src="./../../../assets/imgs/icons/github.png" alt="menu">
        <img src="./../../../assets/imgs/icons/linkedin.png" alt="menu">
        <img src="./../../../assets/imgs/icons/mail.png" alt="menu">
    </div>
    <div class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <p>H.L.A.</p>
    </div>
    <div class="menu-options">
        <button>EN</button>
        <img src="./../../../assets/imgs/icons/menu_white.png" alt="menu">
    </div>
</section>




