.content{
    background-color: #1D1D1D;
    width: 100%;
    height: 100vh;
    color: #F8F7E5;
}

.main{
    display: flex;
    padding: 32px 72px;
    height: calc(100% - 157px);
    
}

.main_content{
    display: flex;
    padding-top: 40px;
    padding-left: 128px;
    padding-right: 40px;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
section{
    display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
}


.name_header{
    display: flex;
    
    gap: 12px;
    align-items: center;
    >img{
       width: 29.07px;
        height: 40px; 
    }
    >a{
        font-size: 36px;
        margin: 0;
        font-weight: 600;
        text-decoration: none;
    }
    &:hover{
        cursor: pointer;
    }
}

.name_header:hover .white{
    cursor: pointer;
    color: #FF834F;
}

.white{
    color: #F8F7E5;
}

.menu-options{
    display: flex;
    gap: 16px;
    align-items: center;
    .burger_menu_white{
        width: 32px;
        height: 32px; 
        background-image: url(./../../assets/imgs/icons/menu_white.png);
    }
    .burger_menu_white:hover{
        cursor: pointer; 
        background-image: url(./../../assets/imgs/icons/menu_orange.png);
    }
    
}

button{
    
    background-color: transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 10px;
    
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #FF834F;
    cursor: pointer;
}

.btn_white{
    border: 1px solid #F8F7E5;
    color: #F8F7E5;
}
.orange_sun{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 32px;
    left: 72px;
    animation: turn_right 8s linear infinite;
}

.blue_sun{
    width: 263px;
    height: 263px;
    position: absolute;
    bottom: 32px;
    left: 183px;
    animation: turn_left 8s linear infinite;
}

.footer{
    position: absolute;
    width: 50vw;
    bottom: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    right: 72px;
    color: #F8F7E5;
    >div{
        display: flex;
        gap: 32px;
        align-items: center;
        >a{
            text-decoration: none;
            color: #F8F7E5;
            line-height: 120%;
            &:hover{
                cursor: pointer;
                color: #FF834F;
            }
        }
    }
}

@keyframes turn_right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

@keyframes turn_left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
    }
}