<div class="content scroll">

    <section>
    <a style="text-decoration: none;" [href]="'#0'"><div class="name_header">
        <img src="./../../../assets/imgs/icons/logo.png" alt="logo">
        <a routerLink="" class="white">H.L.A.</a>
    </div></a>
    <div class="menu-options">
        <button class="btn_white">EN</button>
        <div class="burger_menu_white"></div>
    </div>
</section>

<div class="main">
    <div class="main_content">
    
    <img class="orange_sun" src="../../assets/imgs/icons/sun_icon_orange_180.png" alt="turning sun icon orange">
    <img class="blue_sun" src="../../assets/imgs/icons/sun_blue.png" alt="turning sun icon blue">
    
    </div>

     <div class="footer">
            <p>© Hannah Luisa Anton 2026</p>
            <div>
            <a routerLink="">Zurück</a>
            <a href="https://www.linkedin.com/in/hannah-luisa-a-16baa8201/" target="_blank">LinkedIn</a>
            <a href="https://github.com/hl4ntn" target="_blank">GitHub</a>
        </div>
  
 </div> 
</div>
