.content{
    background-color: #1D1D1D;
    width: 100%;
    height: 100vh;
    color: #F8F7E5;
}

.main{
    display: flex;
    padding: 32px 72px;
    height: calc(100% - 157px);
    
}

.main_content{
    display: flex;
    padding-top: 40px;
    padding-left: 128px;
    padding-right: 40px;
    width: 100%;
    flex-direction: column;
    gap: 40px;
}
section{
    display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
}


.name_header{
    display: flex;
    
    gap: 12px;
    align-items: center;
    >img{
       width: 29.07px;
        height: 40px; 
    }
    >a{
        font-size: 36px;
        margin: 0;
        font-weight: 600;
        text-decoration: none;
    }
    &:hover{
        cursor: pointer;
    }
}

.name_header:hover .white{
    cursor: pointer;
    color: #FF834F;
}

.white{
    color: #F8F7E5;
}

.menu-options{
    display: flex;
    gap: 16px;
    align-items: center;
    .burger_menu_white{
        width: 32px;
        height: 35px; 
        background-image: url(./../../assets/imgs/icons/arrow_down.png);
        rotate: 90deg;
        background-size: contain;
        
    }
    .burger_menu_white:hover{
        cursor: pointer; 
        background-image: url(./../../assets/imgs/icons/arrow_down.png);
        filter: 
  brightness(0) 
  saturate(100%) 
  invert(63%) 
  sepia(63%) 
  saturate(601%) 
  hue-rotate(330deg) 
  brightness(101%) 
  contrast(101%);
    }
    
}

button{
    
    background-color: transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 10px;
    
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #FF834F;
    cursor: pointer;
}

.btn_white{
    border: 1px solid #F8F7E5;
    color: #F8F7E5;
}

.text_content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 50vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(248 247 229 / 11%) rgb(29, 29, 29);
}
.first_text_section{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.text_section{
    
}

h4{
    margin: 0;
    color: #F9AF42;
    font-size: 24px;
    line-height: 120%;
}

h5{
    color: #F9AF42;
    font-size: 19px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

p{
    color: #F8F5EC;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin: 0;
}

.yellow{
    color: #F9AF42;
}

.orange_sun{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 32px;
    left: 72px;
    animation: turn_right 8s linear infinite;
}

.blue_sun{
    width: 263px;
    height: 263px;
    position: absolute;
    bottom: 32px;
    left: 183px;
    animation: turn_left 8s linear infinite;
}

.footer{
    position: absolute;
    width: 50vw;
    bottom: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    right: 72px;
    color: #F8F7E5;
    >div{
        display: flex;
        gap: 32px;
        align-items: center;
        >a{
            text-decoration: none;
            color: #F8F7E5;
            line-height: 120%;
            &:hover{
                cursor: pointer;
                color: #FF834F;
            }
        }
    }
}

@keyframes turn_right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    }
}

@keyframes turn_left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
    }
}