.dots{
    display: flex;
    flex-direction: column;
    gap: 20px;   
    justify-content: center;
    height: 100%;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    rotate: 45deg;
}

.diamont{
    width: 8px;
    height: 8px;
    background-color: #F9AF42;
    rotate: 45deg;
}

.white{
    background-color: #F8F7E5;
}

.black{
    background-color: #1D1D1D;
}