section{
        display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
}

.name_header{
    display: flex;
    gap: 12px;
    align-items: center;
    >img{
       width: 29.07px;
        height: 40px; 
    }
    >p{
        font-size: 36px;
        color: #1D1D1D;
        margin: 0;
        font-weight: 600;
    }
}

.menu-options{
    display: flex;
    gap: 16px;
    align-items: center;
    >img{
       width: 32px;
        height: 32px; 
    }
}

button{
    border: 1px solid #1D1D1D;
    background-color: transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #1D1D1D;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}